*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
}
header .logo{
    margin-left: 50px;
}
header .logo img{
    height: 100px;
}
header .menu{
    margin-right: 50px;
}
header .menu ul{
    display: flex;
}
header .menu ul li{
    padding: 5px 20px;
}
header .menu ul li a{
    color: white;
    font-size: 15px;
    letter-spacing: .1em;
} */
#font-page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left,rgba(0, 0, 0,0.7),rgba(0, 0, 0,0.7)),url("../img/background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: 0px 9px 50px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 50px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 50px 0px rgba(0,0,0,0.75);
    position: relative;
}
#font-page div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#font-page div h1{
    color: #00D1FE;
    letter-spacing: 2px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 3em;
}
#font-page div p{
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    padding-bottom: 25px;
}
#font-page div a.btn{
    color: black;
    background-color: white;
    padding: 7px 20px;
    font-size: 17px;
}
/* extra */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    position: absolute;
}
header .logo{
    margin-left: 50px;
}
header .logo img{
    height: 100px;
}
header .menu{
    margin-right: 50px;
}
header .menu ul{
    display: flex;
}
header .menu ul li{
    padding: 5px 20px;
}
header .menu ul li a{
    color: white;
    font-size: 15px;
    letter-spacing: .1em;
}



/* extra */

#about{
    width: 100%;
}
#about h1{
    text-align: center;
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
}
#about h1::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 80px;
    background-color: black;
    border-radius: 50%;
}
#about .about_wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#about .about_wrapper .about_content{
    width: 50%;
}
#about .about_wrapper .about_picture img{
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
}
#service{
    width: 100%;
}
#service .header_service{
    text-align: center;
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
}
#service .header_service::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 80px;
    background-color: black;
    border-radius: 50%;
}
#service .service_wrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}
#service .service_wrapper div{
    display: flex;
    width: 380px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
}
#service .service_wrapper div i{
    font-size: 40px;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 50%;
}
#service .service_wrapper div h1{
    margin-bottom: 10px;
    font-weight: 200;
}
#service .service_wrapper div a{
    margin-top: 30px;
    background-color: white;
    color: black;
    padding: 8px 20px;
    margin-bottom: 30px;
}
#want_help{
    width: 100%;
    height: 400px;
    background: linear-gradient(to left,rgba(0, 0, 0,0.7),rgba(0, 0, 0,0.7)),url("../img/background_fix.jpg");
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
}
#want_help h1{
    color: white;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 3em;
}
#want_help div{
    display: flex;
}
#want_help div a{
    background-color: white;
    color: black;
    padding: 9px 20px;
    margin: 10px;
}
#contact{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#contact .form{
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: black;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
}
#contact .form h1{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px; 
    color: white; 
    font-weight: 500;
}
#contact .form div{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-left: 50px;  
}
#contact .form div input{
    width: 90%;
    border: none;  
    outline: none;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}
#contact .form div textarea{
    width: 90%;
    margin-bottom: 20px;
    border: none; 
    resize: none;
    outline: none;
    padding: 20px;
    border-radius:5px;
}
#contact .form div input[type="submit"]{
    margin-bottom: 50px;
    width: 82px;
    padding: 7px 0;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0;
}
footer .footer-1{
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
}
footer .footer-1 div{
    margin-top: 30px;
    margin-bottom: 30px;
}
footer .footer-1 div h2{
    margin-bottom: 10px;
    font-weight: 500;
}
footer .footer-1 div div{
    margin-bottom: 0px;
    margin-top: 0px;
}
footer .footer-1 div div i,footer div div span{
    font-size: .8em;
    padding: 10px;
}
footer .footer-1 div div i{
    margin-right: 5px;
}
footer .footer-1 div div a{
    color: white;
    font-size: .8em;

}
footer .footer-1 .our_company{
    display: flex;
    justify-content: left;
    align-items: baseline;
    flex-direction: column;
}
footer .footer-1 .our_company a{
    color: white;
    font-size: .8em;
    padding: 5px;
}
footer .footer-2{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .footer-2 hr{
    background-color: #2D2D2D;
    height: 1px;
    width: 100%;
    border: none;
}
footer .footer-2 p{
    margin-top: 20px;
    margin-bottom: 20px;
}
footer .footer-2 p span{
    color: #00D1FE;
}

