<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <title>FarmersEdge-Login</title>
</head>
<body>
    <div>
        <fieldset style="width: 400px;">
            <legend><h2>Login</h2></legend>
            <form action="../checking/loginCheck.php" method="post">
            <table>
                <tr>
                    <td>
                    <label for="username">Username: </label>
                    </td>
                    <td>
                    <input type="text" name="username" id="">
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><br></td>
                </tr>
                <tr>
                    <td>
                    <label for="password">Password: </label>
                    </td>
                    <td>
                    <input type="password" name="password" id="">
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><br></td>
                </tr>
                <tr>
                    <td colspan="2">
                    <input type="checkbox" name="remember" id="">
                    <label for="remember">Remember me</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><br></td>
                </tr>
                <tr>
                    <td>
                    <input type="submit" value="Login">
                    </td>
                    <td>
                        <a href="index.php">Back</a>
                    </td>
                </tr>
            </table>  
        </form>
        </fieldset>
    </div>
</body>
</html>